body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background: url('../img/fondo-pagina.jpg') no-repeat center center fixed;
    animation: backgroundMove 30s linear infinite;
}

@keyframes backgroundMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.contenedor {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h2 {
    text-align: center;
    color: #333333;
}

.grupo-formulario {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333333;
}

input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="radio"] {
    width: auto;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    font-size: 12px;
}

.opciones-genero {
    display: flex;
    align-items: center;
}

.opciones-genero label {
    margin-right: 10px;
    margin-left: 5px;
}

.opciones-genero input[type="radio"] {
    margin-right: 5px;
}

.alerta {
    display: none;
    background-color: #ffcccc;
    color: #990000;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}